{{- /* Head custom content area start */ -}}
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="SUWVJWWC" defer></script>
<!-- / Fathom -->

<!-- Plausible -->
<script defer data-domain="chrisshort.net" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.pageview-props.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
<!-- / Plausible -->

<link rel="webmention" href="https://webmention.io/chrisshort.net/webmention" />

<a rel=me href=https://hachyderm.io/@ChrisShort></a>
{{- /* Head custom content area end */ -}}
