<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
    window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  
    window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
    window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";
  
    window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";
  
    window.translation = {
      common: {
        selectedList: '{quantity} list selected',
        selectedLists: '{quantity} lists selected'
      }
    };
  
    var AUTOHIDE = Boolean(1);
  </script>
  <script src="/js/main.js">
  </script>
  <!-- END - We recommend to place the above code in footer or bottom of your website html  -->
  <!-- End Sendinblue Form -->
