<section>
    <h3>Sharing is Caring</h3>
      <a href="https://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}" target="_blank" title="Share on Hacker News"><span class="fa fa-hacker-news fa-2x" aria-hidden="true"></span></a>
      <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Share on Reddit"><span class="fa fa-reddit-alien fa-2x" aria-hidden="true"></span></a>
      <a href="https://twitter.com/home?status={{ .Permalink }}" target="_blank" title="Tweet this"><span class="fa fa-twitter fa-2x"></span></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}" target="_blank" title="Share on LinkedIn"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook"><span class="fa fa-facebook fa-2x" aria-hidden="true"></span></a>
      <a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+"><span class="fa fa-google-plus fa-2x" aria-hidden="true"></span></a>
      <a href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&description={{ .Title }}" target="_blank" title="Share on Pinterest"><span class="fa fa-pinterest fa-2x" aria-hidden="true"></span></a>
      <a href="mailto:?subject=Check out this post by {{ .Params.author }}&body={{ .Permalink }}" target="_blank" title="E-mail"><span class="fa fa-envelope fa-2x" aria-hidden="true"></span></a>
</section>