{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <h1 class="error-keanu">Page Not Found</h1>
      <p><a href="/"><img src="https://placekeanu.com/800/600/" alt="Your page wasn't found but, what do you know!? You found Keanu!" /></a></p>
      <p>Your page wasn't found but, what do you know!? You found Keanu!</p>
      <p>Go back <a href="/" title="Home">home</a>.</p>
    </div>
  </div>
  {{ end }}