<!-- Boring Blurb -->
<p>If you're here to read the policies, skip past the line.</p>
<p>Are you sure you landed in the right place? There are way better pages to visit on this web site! Allow me to suggest a few:
    <li><a href="/speaking/">Talks I've given</a></li>
    <li><a href="/interviews/">Interviews I've done</a></li>
    <li><a href="/projects/">My side projects</a></li>
    <li><a href="/causes/">What causes and non-profits I support</a></li>
    I want to make sure you are <em>intentionally</em> on this page and not dropped here by some bad search or rabbit hole. If not, choose from the above or head to the <a href="/">home page</a>.
</p>
<hr />
<!-- End Boring Blurb -->