<!-- Carbon Ads -->
{{/* js from here is bundled as carbon.js into a single bundled js */}}
{{/* both of these helps loading the page faster */}}

{{- $carbon := resources.Get "js/extended/carbon.js" }}

{{ $carbon_js := (slice $carbon ) | resources.Concat "assets/js/carbon.js" | minify }}
<p>
  <script async type="text/javascript" src="{{ $carbon_js.RelPermalink }}?serve=CK7D52QU&placement=chrisshortnet" id="_carbonads_js" onsubmit="window.fathom.trackGoal('Q2VC6U8E', 0);"></script>
</p>
<!-- End Carbon Ads -->