<div style="display: flex; gap: 1rem; justify-content: flex-start; margin: 2rem 0;">
    <a href="/resume/Chris-Short-Resume.pdf" style="text-decoration: none !important; border-bottom: none; box-shadow: none;">
        <img src="/resume/download-pdf-button.svg" alt="Download PDF version of Resume" style="border: none; box-shadow: none;">
    </a>
    <a href="https://docs.google.com/document/d/1rvWbgE6s-_paVDO_4chyPMz1B8ZBamE9BZEk6WdwR5o/edit?usp=sharing" style="text-decoration: none !important; border-bottom: none; box-shadow: none;">
        <img src="/resume/google-docs-button.svg" alt="Google Docs version of Resume" style="border: none; box-shadow: none;">
    </a>
</div>