<!-- Speaker Blurb -->
<p>Here's a current list of <a href="/abstracts/" title="Ready to Go Abstracts for Call for Proposals (CFPs) by Chris Short">ready to go CFPs and/or abstracts</a> that I can speak to at a moments notice.</p>
<p>If you're looking for OpenShift.tv live streams I hosted/produced/ran, [search my name on OpenShift's YouTube](https://www.youtube.com/@OpenShift/search?query=chris%20short).</p>
<p>If you'd like to have me <a href="/speaking/" title="Speaking">speak</a> at your conference, Meetup, podcast, webinar, live stream, etc. please review my <a href="/speaker-rider/" title="Speaker Rider">Speaker Rider</a> and <a href="mailto:chrisshort+speaking@duck.com" title="Contact Chris Short">send me a message</a>. Thank you!</p>
<!-- End Speaker Blurb -->